{% extends 'base.html' %}


{% block content %}
<div class="container">
    

    <!-- ハッシュタグ検索フォーム -->
    <form method="get" action="{% url 'hashtag_search' %}" class="search-form">
        <input type="text" name="q" placeholder="ハッシュタグ検索" value="{{ query }}" required>
        <button type="submit">検索</button>
    </form>

    <p>ここにホームページの内容を書く。</p>
</div>
{% endblock %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Closet</title>
</head>
<body>
    <h1>ホーム</h1>
    <a href="{% url 'login' %}">アプリへ</a>
</body>
</html>
