<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>投稿詳細</title>
</head>
<body>
    <h1>投稿詳細</h1>
    
    <h1>{{ item.name }}</h1>
    <img src="{{ item.image_url }}" alt="{{ item.name }}">
    <p>値段: ¥{{ item.price }}</p>
    <p>ブランド: {{ item.brand }}</p>
    <p>商品URL: <a href="{{ item.url }}">{{ item.url }}</a></p>
    <p>メモ: {{ item.memo }}</p>
    
    <a href="{% url 'wishlist' %}">戻る</a>
    
    <form action="{% url 'wishlist_delete' item.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">削除</button>
    </form>
</body>
</html>
