 <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>投稿詳細</title>
</head>
<body>
    <h1>投稿詳細</h1>
    {% comment %} <img src="{{ item.image.url }}" alt="Wishlist Item Image" style="width:200px;">
    <p>価格: ¥{{ item.price }}</p>
    <a href="{% url 'wishlist' %}">戻る</a> {% endcomment %}

    <h1>{{ item.name }}</h1>
    <img src="{{ item.image_url }}" alt="{{ item.name }}">
    <p>値段: ¥{{ item.price }}</p>
    <p>ブランド: {{ item.brand }}</p>
    <p>商品URL: <a href="{{ item.url }}">{{ item.url }}</a></p>
    <p>メモ: {{ item.memo }}</p>
    
    <a href="{% url 'wishlist' %}">戻る</a>
    <button>削除</button>
</body>
</html> {% endcomment %}

 {% endcomment %}
