<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>欲しいものリスト</title>
</head>
<body>
    <h1>欲しいものリスト</h1>
    <div>
        {% for item in items %}
            <div>
                <a href="{% url 'wishlist_detail' item.id %}">
                    <img src="{{ item.image.url }}" alt="Wishlist Item Image" style="width:100px;">
                </a>
                <p>¥{{ item.price }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'wishlist_create' %}">投稿</a>
</body>
</html>
